<!-- big image at top of blog -->
<div class="bannerimg">
  <div class="overlay">
    <div class="overlayover">
      <div id="header">
        <h1 id="blog" class="text-center">
          <font color="#ffffff">blog</font><br>
          <div class="avatar">
          </div><br>
          <div class="titletext">
            <p>
              IAN MUNENE,<br><br>
              Software engineer,
              Dev Ops guy <span class="minitext">in the making</span>
            </p>
          </div>
        </h1>
      </div>
    </div>
  </div>
</div>
<br>

<div id="searchandcontent" class="col-xs-10 col-xs-offset-1">
<!-- notification bar and search bar  -->
<div class="row" id="rowbutton">
  <div class="container">
    <div class="row row-center">
      <div class="row">
        <div class="col-sm-12 col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
          <% if notice %>
              <p class="notice"><%= notice %></p>
            <% else %>
              <p class="alert"><%= alert %></p>
          <% end %>
          <!-- search box for searching tags -->
          <div id="custom-search-input" class="col-sm-12">
              <div class="input-group">
                  <input type="text" class="search-query form-control" placeholder="Search Tags" />
                  <span class="input-group-btn">
                      <button class="btn btn-danger" type="button">
                          <span class=" glyphicon glyphicon-search"></span>
                      </button>
                  </span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<!-- BLOG SECTION -->
  <div class="container">
    <% @posts.each do |post| %>
      <div class="row post-content col-xs-10 col-xs-offset-1">
        <div class="post-title">
          <%= link_to sanitize(post.title, :tags=>[]).truncate(50, :separator=>" ").html_safe, post %>
        </div>
        <div class="post-subtitle">
          <h4><%= link_to sanitize(post.body, :tags=>[]).truncate(70, :separator=>"").html_safe, post %></h4>
        </div>
        <div class="post-time">
          <h5>Created on <%= post.created_at.strftime("%B, %d, %Y")%></h5>
        </div>
      </div>
    <% end %>
    <%= paginate @posts %>
  </div>
</div> <!-- searchandcontent ended -->
