<!-- big image at top of blog -->
<div class="bannerimg">
  <div class="overlay">
    <div class="overlayover">
      <div id="header" class="vcenter">
        <h1 id="blog" class="text-center">
          <font color="#ffffff">blog</font><br>
          <div class="avatar">
          </div><br>
          <div class="titletext">
            <p>
              IAN MUNENE,<br><br>
              Software engineer,
              Playboy(lol),
              billionaire <span class="minitext">in the making</span>
            </p>
          </div>
        </h1>
      </div>
    </div>
  </div>
</div>
<br>

<div id="searchandcontent">
<!-- search bar  -->
<div class="row" id="rowbutton">
  <div class="container">
    <div class="row row-center">
      <div class="row">
        <div class="col-sm-12">
          <% if notice || alert %>
            <div class="alert alert-danger" role="alert">
              <p class="notice"><%= notice %></p>
              <p class="alert alert-danger"><%= alert %></p>
            </div>
          <% end %>
          <!-- search box for searching tags -->
          <div id="custom-search-input" class="col-sm-12">
              <div class="input-group">
                  <input type="text" class="  search-query form-control" placeholder="Search Tags" />
                  <span class="input-group-btn">
                      <button class="btn btn-danger" type="button">
                          <span class=" glyphicon glyphicon-search"></span>
                      </button>
                  </span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<!-- BLOG SECTION -->
  <div class="container">
    <% @posts.each do |post| %>
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h4 class="panel-title"><%= link_to sanitize(post.title, :tags=>[]).truncate(50, :separator=>" ").html_safe, post %></h4>
          <h6 class="panel-title myfont"><%= post.created_at.strftime("%B, %d, %Y")%></h6>
        </div>
        <h5 class="panel-body">
          <%= sanitize(post.body, :tags=>[]).truncate(50, :separator=>"").html_safe%>
        </h5>
      </div>
    <% end %>
    <%= paginate @posts %>
  </div>
</div> <!-- searchandcontent ended -->
