<!-- banner and post title -->
<div class="showbannerimg">
  <div class="overlay"> <!-- dark overlay over background-image -->
    <div class="overlayover"><!--patterned overlay over dark overlay-->
      <div id="header" class="">
        <%= link_to posts_path do %>
          <span class="homelink">HOME</span>
        <% end %>
        <h1 class="posttitle">
          <%= sanitize @post.title %><br>
        </h1><br>
        <h3 class="container posttitle">Created <%= time_ago_in_words(@post.created_at) %> Ago by <%= @post.checkusername(@post) %></h3>
        <p class="posttitle container">
          <% if current_admin %>
            <%= link_to edit_post_path(@post) do %>
                <i class="fa fa-pencil-square-o fa-2x"></i>
              <% end %> |
            <%= link_to post_path(@post), method: :delete, data: {confirm: "Are you sure?" } do %>
              <i class="fa fa-trash-o fa-2x"></i>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

<!--shows each post-->
  <p class="date">
    Submitted <%= time_ago_in_words(@post.created_at) %> Ago
    | <%= link_to "Edit", edit_post_path(@post) %>
    | <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?" } %>
  </p>
  <!-- post content is displayed here -->
  <div class="container postcontent">
    <p class="show-image">
        <%= image_tag @post.image.url(:medium, timestamp:false) if @post.image.file? %>
    </p>
    <div class="postbody">
        <%= sanitize @post.body %>
    </div>
    <!-- tags section from the tags model -->
    <h3 class="tagtitletext">Tags</h3>
    <div class="tags">
      <%= @post.tags.map do |tag| %>
        <%= sanitize tag.name %>
      <% end %>
    </div>
<!-- Social share buttons section -->
    <div id="social">
      <%= social_share_button_tag("My Site") %>
    </div>
    <!--generates disqus comments-->
    <div class="comments">
      <%= render 'disqus' %>
    </div>
  </div>
