<!DOCTYPE html>
<html>
<head>
  <title>Personalblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="sidebar">
    <p class="sign_in">Admin login</p>
  </div>
  <div id="main_content">
    <div id="header">
      <%= link_to "My Rumblings", posts_path %>
      <div class="buttons">
        <div class="button">
          <%= link_to "New Post", new_post_path %>
        </div>
      </div>
    </div>
  </div>
<%= yield %>

</body>
</html>
