<!DOCTYPE html>
<html>
<head>
  <title>Personalblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="content">
  <div id="sidebar" class="col-md-3">
    <img class="circle-tag" />
    <h2 id="dev-name">Ian Munene</h2>
    <h3 id="job-title">Software Engineer</h3>
    <!-- <p class="sign_in">Admin login</p> -->
  </div>
  <div id="breathing-space" class="col-md-1">

  </div>
  <div id="content" class="col-md-8 col-md-offset-1">
    <div id="header">

      <%= link_to "My Rumblings", posts_path %> <!-- at the top of the page -->

      <div class="buttons"> <!--for the buttons at the top of page-->
        <button class="btn btn-primary"> <!-- redirects to new posts page -->
          <%= link_to "New Post", new_post_path %>
        </button>
        <button class="btn btn-primary">
          Log Out
        </button>
      </div> <!--button class ends-->
    </div><!--header ends -->

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %>
    <%= yield %>
  </div><!--main content class ends -->


</body>
</html>
