<!DOCTYPE html>
<html>
<head>
  <title>Personalblog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="content container">
  <div id="sidebar" class="col-md-2">
    <img class="circle-tag" />
    <!-- <p class="sign_in">Admin login</p> -->
  </div>
  <div id="content">
    <div id="header" class="col-md-10 col-lg-10 col-sm-12">

      <%= link_to "My Rumblings", posts_path %> <!-- at the top of the page -->

      <div class="buttons"> <!--for the buttons at the top of page-->
        <button class="button"> <!-- redirects to new posts page -->
          <%= link_to "New Post", new_post_path %>
        </button>
        <button class="button">
          Log Out
        </button>
      </div> <!--button class ends-->
    </div><!--header ends -->

    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %>
    <%= yield %>
  </div><!--main content class ends -->


</body>
</html>
